@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Rubik:400");
.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
}

.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  -webkit-transition: all 1s 0.2s ease;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}

.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}

.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease, background-color 0.4s ease;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}

.about .social.portfolio {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about .social.dribbble {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about .social.linkedin {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about:hover {
  width: 105px;
  height: 105px;
  -webkit-transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .logo {
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.about:hover .social {
  opacity: 1;
}

.about:hover .social .icon {
  opacity: 0.9;
}

.about:hover .social:hover {
  background-size: 28px;
}

.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}

.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  -webkit-transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}

.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  -webkit-transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}

.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  -webkit-transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}

/* main 1*/
/* main 2*/
/* neutral 1*/
/* neutral 2*/
body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* Tabs menu */
.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-radius: 2px 2px 0px 0px;
}

@media screen and (max-width: 512px) {
  .tabs {
    height: 40px;
  }
}

/* Tab Links */
.tablinks {
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, transparent), to(rgba(255, 255, 255, 0.2)));
  background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
  border: none;
  outline: none;
  cursor: pointer;
  width: 25%;
  /*change depending on the number of tabs*/
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
  .tablinks {
    height: 40px;
    font-size: 12px;
  }
}

.tablinks:before {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

/*tab buttons hover*/
.tablinks:hover::before {
  height: 100%;
  z-index: 2;
  bottom: 0;
}

@media screen and (max-width: 512px) {
  .tablinks:hover::before {
    height: 0;
  }
}

/* Tab active */
.tablinks.active {
  background-color: white;
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  height: 110px;
  bottom: 0px;
  overflow: hidden;
}

@media screen and (max-width: 512px) {
  .tablinks.active {
    height: 60px;
  }
}

.tablinks.active:before {
  content: "";
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tablinks p {
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: #686868;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-weight: 400;
}

.tablinks:hover p {
  color: white;
  opacity: 1;
}

@media screen and (max-width: 512px) {
  .tablinks:hover p {
    color: #686868;
    opacity: 0.6;
  }
}

/* Tabs text bigger */
.tablinks p:before {
  content: attr(data-title);
  position: absolute;
  height: auto;
  width: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.1;
  font-size: 40px;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  z-index: 1;
  font-weight: 600;
  top: 110%;
}

@media screen and (max-width: 512px) {
  .tablinks p:before {
    display: none;
  }
}

.tablinks:hover p:before {
  opacity: 0.1;
  font-size: 40px;
  top: -80%;
}

/* tab content */
.wrapper_tabcontent {
  background-color: white;
  margin-top: 0px;
  z-index: 0;
  position: relative;
  opacity: 1;
  padding: 40px 60px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  top: 0;
}

.tabcontent {
  display: none;
  min-height: 180px;
}

@-webkit-keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

.tabcontent.active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: block;
}

/* Tab content line */
.wrapper_tabcontent:after {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  left: 0;
  bottom: 0;
  z-index: -2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
  font-size: 40px;
  top: 75px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: -90px;
  opacity: 0.1;
  width: 200px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  -webkit-animation: city 1s ease;
          animation: city 1s ease;
}

@media screen and (max-width: 512px) {
  .tabcontent h3 {
    top: 65px;
  }
}

@-webkit-keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}

@keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}

/* Text*/
.tabcontent p {
  color: #686868;
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-weight: 100;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: fadeEffect 0.6s ease;
          animation: fadeEffect 0.6s ease;
  width: 100%;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (max-width: 512px) {
  .tabcontent p {
    font-size: 14px;
    line-height: 26px;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

/* background */
body {
  margin: 0;
  height: 100vh;
}

.content-wrap {
  max-width: 600px;
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  margin-top: 10%;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
  .content-wrap {
    margin: 0 4%;
    margin-top: 5%;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: block;
  background-image: linear-gradient(135deg, #b9e2f5 0%, #ffd2e7 100%);
}

.container .inner-container {
  width: 90%;
  margin: 0 auto;
}

.container .title {
  position: relative;
  display: block;
  top: 10vh;
}

.container .title h1 {
  font: normal 3.6rem 'Shrikhand', Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
  text-align: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), -5px -5px 0 rgba(194, 183, 254, 0.5), 5px 5px 0 rgba(132, 205, 238, 0.6);
}

.shape {
  margin: 0 auto;
  position: relative;
}

.random-shape:after {
  font-family: FontAwesome;
  content: "\f005";
}

@-webkit-keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(286deg);
            transform: translate3d(0, 0, 0) rotate(286deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(646deg);
            transform: translate3d(0, 0, 0) rotate(646deg);
  }
}

@keyframes shape-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(286deg);
            transform: translate3d(0, 0, 0) rotate(286deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(646deg);
            transform: translate3d(0, 0, 0) rotate(646deg);
  }
}

.shape-container--1 {
  -webkit-animation: shape-1 46s linear infinite;
          animation: shape-1 46s linear infinite;
}

.shape-container--1 .random-shape:after {
  margin: 3rem;
  color: #FFF8DC;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(118deg);
            transform: translate3d(0, 0, 0) rotate(118deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(478deg);
            transform: translate3d(0, 0, 0) rotate(478deg);
  }
}

@keyframes shape-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(118deg);
            transform: translate3d(0, 0, 0) rotate(118deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(478deg);
            transform: translate3d(0, 0, 0) rotate(478deg);
  }
}

.shape-container--2 {
  -webkit-animation: shape-2 48s linear infinite;
          animation: shape-2 48s linear infinite;
}

.shape-container--2 .random-shape:after {
  margin: 3rem;
  color: #FFF8DC;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(91deg);
            transform: translate3d(0, 0, 0) rotate(91deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(451deg);
            transform: translate3d(0, 0, 0) rotate(451deg);
  }
}

@keyframes shape-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(91deg);
            transform: translate3d(0, 0, 0) rotate(91deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(451deg);
            transform: translate3d(0, 0, 0) rotate(451deg);
  }
}

.shape-container--3 {
  -webkit-animation: shape-3 46s linear infinite;
          animation: shape-3 46s linear infinite;
}

.shape-container--3 .random-shape:after {
  margin: 7rem;
  color: #95A9FF;
  font-size: 1.4rem;
  content: "";
}

@-webkit-keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(11deg);
            transform: translate3d(0, 0, 0) rotate(11deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(371deg);
            transform: translate3d(0, 0, 0) rotate(371deg);
  }
}

@keyframes shape-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(11deg);
            transform: translate3d(0, 0, 0) rotate(11deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(371deg);
            transform: translate3d(0, 0, 0) rotate(371deg);
  }
}

.shape-container--4 {
  -webkit-animation: shape-4 49s linear infinite;
          animation: shape-4 49s linear infinite;
}

.shape-container--4 .random-shape:after {
  margin: 9rem;
  color: #FFD700;
  font-size: 1.8rem;
  content: "";
}

@-webkit-keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(185deg);
            transform: translate3d(0, 0, 0) rotate(185deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(545deg);
            transform: translate3d(0, 0, 0) rotate(545deg);
  }
}

@keyframes shape-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(185deg);
            transform: translate3d(0, 0, 0) rotate(185deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(545deg);
            transform: translate3d(0, 0, 0) rotate(545deg);
  }
}

.shape-container--5 {
  -webkit-animation: shape-5 45s linear infinite;
          animation: shape-5 45s linear infinite;
}

.shape-container--5 .random-shape:after {
  margin: 3rem;
  color: #95A9FF;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(154deg);
            transform: translate3d(0, 0, 0) rotate(154deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(514deg);
            transform: translate3d(0, 0, 0) rotate(514deg);
  }
}

@keyframes shape-6 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(154deg);
            transform: translate3d(0, 0, 0) rotate(154deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(514deg);
            transform: translate3d(0, 0, 0) rotate(514deg);
  }
}

.shape-container--6 {
  -webkit-animation: shape-6 45s linear infinite;
          animation: shape-6 45s linear infinite;
}

.shape-container--6 .random-shape:after {
  margin: 6rem;
  color: #DB7093;
  font-size: 1.2rem;
  content: "";
}

@-webkit-keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(203deg);
            transform: translate3d(0, 0, 0) rotate(203deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(563deg);
            transform: translate3d(0, 0, 0) rotate(563deg);
  }
}

@keyframes shape-7 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(203deg);
            transform: translate3d(0, 0, 0) rotate(203deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(563deg);
            transform: translate3d(0, 0, 0) rotate(563deg);
  }
}

.shape-container--7 {
  -webkit-animation: shape-7 41s linear infinite;
          animation: shape-7 41s linear infinite;
}

.shape-container--7 .random-shape:after {
  margin: 5rem;
  color: #FFF8DC;
  font-size: 1rem;
  content: "";
}

@-webkit-keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(74deg);
            transform: translate3d(0, 0, 0) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(434deg);
            transform: translate3d(0, 0, 0) rotate(434deg);
  }
}

@keyframes shape-8 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(74deg);
            transform: translate3d(0, 0, 0) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(434deg);
            transform: translate3d(0, 0, 0) rotate(434deg);
  }
}

.shape-container--8 {
  -webkit-animation: shape-8 46s linear infinite;
          animation: shape-8 46s linear infinite;
}

.shape-container--8 .random-shape:after {
  margin: 5rem;
  color: #FFD700;
  font-size: 1rem;
  content: "";
}

@-webkit-keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(299deg);
            transform: translate3d(0, 0, 0) rotate(299deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(659deg);
            transform: translate3d(0, 0, 0) rotate(659deg);
  }
}

@keyframes shape-9 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(299deg);
            transform: translate3d(0, 0, 0) rotate(299deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(659deg);
            transform: translate3d(0, 0, 0) rotate(659deg);
  }
}

.shape-container--9 {
  -webkit-animation: shape-9 43s linear infinite;
          animation: shape-9 43s linear infinite;
}

.shape-container--9 .random-shape:after {
  margin: 10rem;
  color: #FFD700;
  font-size: 2rem;
  content: "";
}

@-webkit-keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(27deg);
            transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(387deg);
            transform: translate3d(0, 0, 0) rotate(387deg);
  }
}

@keyframes shape-10 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(27deg);
            transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(387deg);
            transform: translate3d(0, 0, 0) rotate(387deg);
  }
}

.shape-container--10 {
  -webkit-animation: shape-10 43s linear infinite;
          animation: shape-10 43s linear infinite;
}

.shape-container--10 .random-shape:after {
  margin: 5rem;
  color: #DB7093;
  font-size: 1rem;
  content: "";
}

@-webkit-keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(58deg);
            transform: translate3d(0, 0, 0) rotate(58deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(418deg);
            transform: translate3d(0, 0, 0) rotate(418deg);
  }
}

@keyframes shape-11 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(58deg);
            transform: translate3d(0, 0, 0) rotate(58deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(418deg);
            transform: translate3d(0, 0, 0) rotate(418deg);
  }
}

.shape-container--11 {
  -webkit-animation: shape-11 42s linear infinite;
          animation: shape-11 42s linear infinite;
}

.shape-container--11 .random-shape:after {
  margin: 10rem;
  color: #DB7093;
  font-size: 2rem;
  content: "";
}

@-webkit-keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(248deg);
            transform: translate3d(0, 0, 0) rotate(248deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(608deg);
            transform: translate3d(0, 0, 0) rotate(608deg);
  }
}

@keyframes shape-12 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(248deg);
            transform: translate3d(0, 0, 0) rotate(248deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(608deg);
            transform: translate3d(0, 0, 0) rotate(608deg);
  }
}

.shape-container--12 {
  -webkit-animation: shape-12 48s linear infinite;
          animation: shape-12 48s linear infinite;
}

.shape-container--12 .random-shape:after {
  margin: 8rem;
  color: #FFF8DC;
  font-size: 1.6rem;
  content: "";
}

@-webkit-keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(336deg);
            transform: translate3d(0, 0, 0) rotate(336deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(696deg);
            transform: translate3d(0, 0, 0) rotate(696deg);
  }
}

@keyframes shape-13 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(336deg);
            transform: translate3d(0, 0, 0) rotate(336deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(696deg);
            transform: translate3d(0, 0, 0) rotate(696deg);
  }
}

.shape-container--13 {
  -webkit-animation: shape-13 45s linear infinite;
          animation: shape-13 45s linear infinite;
}

.shape-container--13 .random-shape:after {
  margin: 1rem;
  color: #C2B7FE;
  font-size: 0.2rem;
  content: "";
}

@-webkit-keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(282deg);
            transform: translate3d(0, 0, 0) rotate(282deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(642deg);
            transform: translate3d(0, 0, 0) rotate(642deg);
  }
}

@keyframes shape-14 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(282deg);
            transform: translate3d(0, 0, 0) rotate(282deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(642deg);
            transform: translate3d(0, 0, 0) rotate(642deg);
  }
}

.shape-container--14 {
  -webkit-animation: shape-14 48s linear infinite;
          animation: shape-14 48s linear infinite;
}

.shape-container--14 .random-shape:after {
  margin: 10rem;
  color: #C2B7FE;
  font-size: 2rem;
  content: "";
}

@-webkit-keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(287deg);
            transform: translate3d(0, 0, 0) rotate(287deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(647deg);
            transform: translate3d(0, 0, 0) rotate(647deg);
  }
}

@keyframes shape-15 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(287deg);
            transform: translate3d(0, 0, 0) rotate(287deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(647deg);
            transform: translate3d(0, 0, 0) rotate(647deg);
  }
}

.shape-container--15 {
  -webkit-animation: shape-15 48s linear infinite;
          animation: shape-15 48s linear infinite;
}

.shape-container--15 .random-shape:after {
  margin: 3rem;
  color: #C2B7FE;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(149deg);
            transform: translate3d(0, 0, 0) rotate(149deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(509deg);
            transform: translate3d(0, 0, 0) rotate(509deg);
  }
}

@keyframes shape-16 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(149deg);
            transform: translate3d(0, 0, 0) rotate(149deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(509deg);
            transform: translate3d(0, 0, 0) rotate(509deg);
  }
}

.shape-container--16 {
  -webkit-animation: shape-16 47s linear infinite;
          animation: shape-16 47s linear infinite;
}

.shape-container--16 .random-shape:after {
  margin: 1rem;
  color: #FFF8DC;
  font-size: 0.2rem;
  content: "";
}

@-webkit-keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

@keyframes shape-17 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(308deg);
            transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(668deg);
            transform: translate3d(0, 0, 0) rotate(668deg);
  }
}

.shape-container--17 {
  -webkit-animation: shape-17 50s linear infinite;
          animation: shape-17 50s linear infinite;
}

.shape-container--17 .random-shape:after {
  margin: 9rem;
  color: #95A9FF;
  font-size: 1.8rem;
  content: "";
}

@-webkit-keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(141deg);
            transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(501deg);
            transform: translate3d(0, 0, 0) rotate(501deg);
  }
}

@keyframes shape-18 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(141deg);
            transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(501deg);
            transform: translate3d(0, 0, 0) rotate(501deg);
  }
}

.shape-container--18 {
  -webkit-animation: shape-18 50s linear infinite;
          animation: shape-18 50s linear infinite;
}

.shape-container--18 .random-shape:after {
  margin: 10rem;
  color: #FFF8DC;
  font-size: 2rem;
  content: "";
}

@-webkit-keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(127deg);
            transform: translate3d(0, 0, 0) rotate(127deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(487deg);
            transform: translate3d(0, 0, 0) rotate(487deg);
  }
}

@keyframes shape-19 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(127deg);
            transform: translate3d(0, 0, 0) rotate(127deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(487deg);
            transform: translate3d(0, 0, 0) rotate(487deg);
  }
}

.shape-container--19 {
  -webkit-animation: shape-19 42s linear infinite;
          animation: shape-19 42s linear infinite;
}

.shape-container--19 .random-shape:after {
  margin: 4rem;
  color: #95A9FF;
  font-size: 0.8rem;
  content: "";
}

@-webkit-keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(44deg);
            transform: translate3d(0, 0, 0) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(404deg);
            transform: translate3d(0, 0, 0) rotate(404deg);
  }
}

@keyframes shape-20 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(44deg);
            transform: translate3d(0, 0, 0) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(404deg);
            transform: translate3d(0, 0, 0) rotate(404deg);
  }
}

.shape-container--20 {
  -webkit-animation: shape-20 50s linear infinite;
          animation: shape-20 50s linear infinite;
}

.shape-container--20 .random-shape:after {
  margin: 7rem;
  color: #DB7093;
  font-size: 1.4rem;
  content: "";
}

@-webkit-keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(206deg);
            transform: translate3d(0, 0, 0) rotate(206deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(566deg);
            transform: translate3d(0, 0, 0) rotate(566deg);
  }
}

@keyframes shape-21 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(206deg);
            transform: translate3d(0, 0, 0) rotate(206deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(566deg);
            transform: translate3d(0, 0, 0) rotate(566deg);
  }
}

.shape-container--21 {
  -webkit-animation: shape-21 50s linear infinite;
          animation: shape-21 50s linear infinite;
}

.shape-container--21 .random-shape:after {
  margin: 3rem;
  color: #C2B7FE;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(331deg);
            transform: translate3d(0, 0, 0) rotate(331deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(691deg);
            transform: translate3d(0, 0, 0) rotate(691deg);
  }
}

@keyframes shape-22 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(331deg);
            transform: translate3d(0, 0, 0) rotate(331deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(691deg);
            transform: translate3d(0, 0, 0) rotate(691deg);
  }
}

.shape-container--22 {
  -webkit-animation: shape-22 47s linear infinite;
          animation: shape-22 47s linear infinite;
}

.shape-container--22 .random-shape:after {
  margin: 3rem;
  color: #FFD700;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(286deg);
            transform: translate3d(0, 0, 0) rotate(286deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(646deg);
            transform: translate3d(0, 0, 0) rotate(646deg);
  }
}

@keyframes shape-23 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(286deg);
            transform: translate3d(0, 0, 0) rotate(286deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(646deg);
            transform: translate3d(0, 0, 0) rotate(646deg);
  }
}

.shape-container--23 {
  -webkit-animation: shape-23 46s linear infinite;
          animation: shape-23 46s linear infinite;
}

.shape-container--23 .random-shape:after {
  margin: 2rem;
  color: #DB7093;
  font-size: 0.4rem;
  content: "";
}

@-webkit-keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(106deg);
            transform: translate3d(0, 0, 0) rotate(106deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(466deg);
            transform: translate3d(0, 0, 0) rotate(466deg);
  }
}

@keyframes shape-24 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(106deg);
            transform: translate3d(0, 0, 0) rotate(106deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(466deg);
            transform: translate3d(0, 0, 0) rotate(466deg);
  }
}

.shape-container--24 {
  -webkit-animation: shape-24 41s linear infinite;
          animation: shape-24 41s linear infinite;
}

.shape-container--24 .random-shape:after {
  margin: 3rem;
  color: #95A9FF;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(334deg);
            transform: translate3d(0, 0, 0) rotate(334deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(694deg);
            transform: translate3d(0, 0, 0) rotate(694deg);
  }
}

@keyframes shape-25 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(334deg);
            transform: translate3d(0, 0, 0) rotate(334deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(694deg);
            transform: translate3d(0, 0, 0) rotate(694deg);
  }
}

.shape-container--25 {
  -webkit-animation: shape-25 42s linear infinite;
          animation: shape-25 42s linear infinite;
}

.shape-container--25 .random-shape:after {
  margin: 6rem;
  color: #DB7093;
  font-size: 1.2rem;
  content: "";
}

@-webkit-keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(241deg);
            transform: translate3d(0, 0, 0) rotate(241deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(601deg);
            transform: translate3d(0, 0, 0) rotate(601deg);
  }
}

@keyframes shape-26 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(241deg);
            transform: translate3d(0, 0, 0) rotate(241deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(601deg);
            transform: translate3d(0, 0, 0) rotate(601deg);
  }
}

.shape-container--26 {
  -webkit-animation: shape-26 47s linear infinite;
          animation: shape-26 47s linear infinite;
}

.shape-container--26 .random-shape:after {
  margin: 8rem;
  color: #DB7093;
  font-size: 1.6rem;
  content: "";
}

@-webkit-keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(330deg);
            transform: translate3d(0, 0, 0) rotate(330deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(690deg);
            transform: translate3d(0, 0, 0) rotate(690deg);
  }
}

@keyframes shape-27 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(330deg);
            transform: translate3d(0, 0, 0) rotate(330deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(690deg);
            transform: translate3d(0, 0, 0) rotate(690deg);
  }
}

.shape-container--27 {
  -webkit-animation: shape-27 48s linear infinite;
          animation: shape-27 48s linear infinite;
}

.shape-container--27 .random-shape:after {
  margin: 3rem;
  color: #C2B7FE;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(152deg);
            transform: translate3d(0, 0, 0) rotate(152deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(512deg);
            transform: translate3d(0, 0, 0) rotate(512deg);
  }
}

@keyframes shape-28 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(152deg);
            transform: translate3d(0, 0, 0) rotate(152deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(512deg);
            transform: translate3d(0, 0, 0) rotate(512deg);
  }
}

.shape-container--28 {
  -webkit-animation: shape-28 49s linear infinite;
          animation: shape-28 49s linear infinite;
}

.shape-container--28 .random-shape:after {
  margin: 3rem;
  color: #DB7093;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(156deg);
            transform: translate3d(0, 0, 0) rotate(156deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(516deg);
            transform: translate3d(0, 0, 0) rotate(516deg);
  }
}

@keyframes shape-29 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(156deg);
            transform: translate3d(0, 0, 0) rotate(156deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(516deg);
            transform: translate3d(0, 0, 0) rotate(516deg);
  }
}

.shape-container--29 {
  -webkit-animation: shape-29 45s linear infinite;
          animation: shape-29 45s linear infinite;
}

.shape-container--29 .random-shape:after {
  margin: 10rem;
  color: #FFF8DC;
  font-size: 2rem;
  content: "";
}

@-webkit-keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(22deg);
            transform: translate3d(0, 0, 0) rotate(22deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(382deg);
            transform: translate3d(0, 0, 0) rotate(382deg);
  }
}

@keyframes shape-30 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(22deg);
            transform: translate3d(0, 0, 0) rotate(22deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(382deg);
            transform: translate3d(0, 0, 0) rotate(382deg);
  }
}

.shape-container--30 {
  -webkit-animation: shape-30 41s linear infinite;
          animation: shape-30 41s linear infinite;
}

.shape-container--30 .random-shape:after {
  margin: 1rem;
  color: #FFD700;
  font-size: 0.2rem;
  content: "";
}

@-webkit-keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(4deg);
            transform: translate3d(0, 0, 0) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(364deg);
            transform: translate3d(0, 0, 0) rotate(364deg);
  }
}

@keyframes shape-31 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(4deg);
            transform: translate3d(0, 0, 0) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(364deg);
            transform: translate3d(0, 0, 0) rotate(364deg);
  }
}

.shape-container--31 {
  -webkit-animation: shape-31 49s linear infinite;
          animation: shape-31 49s linear infinite;
}

.shape-container--31 .random-shape:after {
  margin: 10rem;
  color: #DB7093;
  font-size: 2rem;
  content: "";
}

@-webkit-keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(158deg);
            transform: translate3d(0, 0, 0) rotate(158deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(518deg);
            transform: translate3d(0, 0, 0) rotate(518deg);
  }
}

@keyframes shape-32 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(158deg);
            transform: translate3d(0, 0, 0) rotate(158deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(518deg);
            transform: translate3d(0, 0, 0) rotate(518deg);
  }
}

.shape-container--32 {
  -webkit-animation: shape-32 50s linear infinite;
          animation: shape-32 50s linear infinite;
}

.shape-container--32 .random-shape:after {
  margin: 1rem;
  color: #C2B7FE;
  font-size: 0.2rem;
  content: "";
}

@-webkit-keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(113deg);
            transform: translate3d(0, 0, 0) rotate(113deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(473deg);
            transform: translate3d(0, 0, 0) rotate(473deg);
  }
}

@keyframes shape-33 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(113deg);
            transform: translate3d(0, 0, 0) rotate(113deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(473deg);
            transform: translate3d(0, 0, 0) rotate(473deg);
  }
}

.shape-container--33 {
  -webkit-animation: shape-33 47s linear infinite;
          animation: shape-33 47s linear infinite;
}

.shape-container--33 .random-shape:after {
  margin: 2rem;
  color: #FFD700;
  font-size: 0.4rem;
  content: "";
}

@-webkit-keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(284deg);
            transform: translate3d(0, 0, 0) rotate(284deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(644deg);
            transform: translate3d(0, 0, 0) rotate(644deg);
  }
}

@keyframes shape-34 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(284deg);
            transform: translate3d(0, 0, 0) rotate(284deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(644deg);
            transform: translate3d(0, 0, 0) rotate(644deg);
  }
}

.shape-container--34 {
  -webkit-animation: shape-34 43s linear infinite;
          animation: shape-34 43s linear infinite;
}

.shape-container--34 .random-shape:after {
  margin: 3rem;
  color: #FFD700;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(28deg);
            transform: translate3d(0, 0, 0) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(388deg);
            transform: translate3d(0, 0, 0) rotate(388deg);
  }
}

@keyframes shape-35 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(28deg);
            transform: translate3d(0, 0, 0) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(388deg);
            transform: translate3d(0, 0, 0) rotate(388deg);
  }
}

.shape-container--35 {
  -webkit-animation: shape-35 48s linear infinite;
          animation: shape-35 48s linear infinite;
}

.shape-container--35 .random-shape:after {
  margin: 9rem;
  color: #95A9FF;
  font-size: 1.8rem;
  content: "";
}

@-webkit-keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(336deg);
            transform: translate3d(0, 0, 0) rotate(336deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(696deg);
            transform: translate3d(0, 0, 0) rotate(696deg);
  }
}

@keyframes shape-36 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(336deg);
            transform: translate3d(0, 0, 0) rotate(336deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(696deg);
            transform: translate3d(0, 0, 0) rotate(696deg);
  }
}

.shape-container--36 {
  -webkit-animation: shape-36 43s linear infinite;
          animation: shape-36 43s linear infinite;
}

.shape-container--36 .random-shape:after {
  margin: 3rem;
  color: #FFF8DC;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(355deg);
            transform: translate3d(0, 0, 0) rotate(355deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(715deg);
            transform: translate3d(0, 0, 0) rotate(715deg);
  }
}

@keyframes shape-37 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(355deg);
            transform: translate3d(0, 0, 0) rotate(355deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(715deg);
            transform: translate3d(0, 0, 0) rotate(715deg);
  }
}

.shape-container--37 {
  -webkit-animation: shape-37 50s linear infinite;
          animation: shape-37 50s linear infinite;
}

.shape-container--37 .random-shape:after {
  margin: 7rem;
  color: #DB7093;
  font-size: 1.4rem;
  content: "";
}

@-webkit-keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(143deg);
            transform: translate3d(0, 0, 0) rotate(143deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(503deg);
            transform: translate3d(0, 0, 0) rotate(503deg);
  }
}

@keyframes shape-38 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(143deg);
            transform: translate3d(0, 0, 0) rotate(143deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(503deg);
            transform: translate3d(0, 0, 0) rotate(503deg);
  }
}

.shape-container--38 {
  -webkit-animation: shape-38 50s linear infinite;
          animation: shape-38 50s linear infinite;
}

.shape-container--38 .random-shape:after {
  margin: 3rem;
  color: #DB7093;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(296deg);
            transform: translate3d(0, 0, 0) rotate(296deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(656deg);
            transform: translate3d(0, 0, 0) rotate(656deg);
  }
}

@keyframes shape-39 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(296deg);
            transform: translate3d(0, 0, 0) rotate(296deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(656deg);
            transform: translate3d(0, 0, 0) rotate(656deg);
  }
}

.shape-container--39 {
  -webkit-animation: shape-39 42s linear infinite;
          animation: shape-39 42s linear infinite;
}

.shape-container--39 .random-shape:after {
  margin: 8rem;
  color: #DB7093;
  font-size: 1.6rem;
  content: "";
}

@-webkit-keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(294deg);
            transform: translate3d(0, 0, 0) rotate(294deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(654deg);
            transform: translate3d(0, 0, 0) rotate(654deg);
  }
}

@keyframes shape-40 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(294deg);
            transform: translate3d(0, 0, 0) rotate(294deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(654deg);
            transform: translate3d(0, 0, 0) rotate(654deg);
  }
}

.shape-container--40 {
  -webkit-animation: shape-40 50s linear infinite;
          animation: shape-40 50s linear infinite;
}

.shape-container--40 .random-shape:after {
  margin: 8rem;
  color: #C2B7FE;
  font-size: 1.6rem;
  content: "";
}

@-webkit-keyframes shape-41 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(44deg);
            transform: translate3d(0, 0, 0) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(404deg);
            transform: translate3d(0, 0, 0) rotate(404deg);
  }
}

@keyframes shape-41 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(44deg);
            transform: translate3d(0, 0, 0) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(404deg);
            transform: translate3d(0, 0, 0) rotate(404deg);
  }
}

.shape-container--41 {
  -webkit-animation: shape-41 46s linear infinite;
          animation: shape-41 46s linear infinite;
}

.shape-container--41 .random-shape:after {
  margin: 6rem;
  color: #FFF8DC;
  font-size: 1.2rem;
  content: "";
}

@-webkit-keyframes shape-42 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(359deg);
            transform: translate3d(0, 0, 0) rotate(359deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(719deg);
            transform: translate3d(0, 0, 0) rotate(719deg);
  }
}

@keyframes shape-42 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(359deg);
            transform: translate3d(0, 0, 0) rotate(359deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(719deg);
            transform: translate3d(0, 0, 0) rotate(719deg);
  }
}

.shape-container--42 {
  -webkit-animation: shape-42 49s linear infinite;
          animation: shape-42 49s linear infinite;
}

.shape-container--42 .random-shape:after {
  margin: 1rem;
  color: #FFF8DC;
  font-size: 0.2rem;
  content: "";
}

@-webkit-keyframes shape-43 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(305deg);
            transform: translate3d(0, 0, 0) rotate(305deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(665deg);
            transform: translate3d(0, 0, 0) rotate(665deg);
  }
}

@keyframes shape-43 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(305deg);
            transform: translate3d(0, 0, 0) rotate(305deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(665deg);
            transform: translate3d(0, 0, 0) rotate(665deg);
  }
}

.shape-container--43 {
  -webkit-animation: shape-43 44s linear infinite;
          animation: shape-43 44s linear infinite;
}

.shape-container--43 .random-shape:after {
  margin: 9rem;
  color: #95A9FF;
  font-size: 1.8rem;
  content: "";
}

@-webkit-keyframes shape-44 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(310deg);
            transform: translate3d(0, 0, 0) rotate(310deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(670deg);
            transform: translate3d(0, 0, 0) rotate(670deg);
  }
}

@keyframes shape-44 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(310deg);
            transform: translate3d(0, 0, 0) rotate(310deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(670deg);
            transform: translate3d(0, 0, 0) rotate(670deg);
  }
}

.shape-container--44 {
  -webkit-animation: shape-44 45s linear infinite;
          animation: shape-44 45s linear infinite;
}

.shape-container--44 .random-shape:after {
  margin: 3rem;
  color: #FFF8DC;
  font-size: 0.6rem;
  content: "";
}

@-webkit-keyframes shape-45 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(27deg);
            transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(387deg);
            transform: translate3d(0, 0, 0) rotate(387deg);
  }
}

@keyframes shape-45 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(27deg);
            transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(387deg);
            transform: translate3d(0, 0, 0) rotate(387deg);
  }
}

.shape-container--45 {
  -webkit-animation: shape-45 46s linear infinite;
          animation: shape-45 46s linear infinite;
}

.shape-container--45 .random-shape:after {
  margin: 4rem;
  color: #FFD700;
  font-size: 0.8rem;
  content: "";
}

@-webkit-keyframes shape-46 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(172deg);
            transform: translate3d(0, 0, 0) rotate(172deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(532deg);
            transform: translate3d(0, 0, 0) rotate(532deg);
  }
}

@keyframes shape-46 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(172deg);
            transform: translate3d(0, 0, 0) rotate(172deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(532deg);
            transform: translate3d(0, 0, 0) rotate(532deg);
  }
}

.shape-container--46 {
  -webkit-animation: shape-46 42s linear infinite;
          animation: shape-46 42s linear infinite;
}

.shape-container--46 .random-shape:after {
  margin: 8rem;
  color: #95A9FF;
  font-size: 1.6rem;
  content: "";
}

@-webkit-keyframes shape-47 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(337deg);
            transform: translate3d(0, 0, 0) rotate(337deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(697deg);
            transform: translate3d(0, 0, 0) rotate(697deg);
  }
}

@keyframes shape-47 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(337deg);
            transform: translate3d(0, 0, 0) rotate(337deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(697deg);
            transform: translate3d(0, 0, 0) rotate(697deg);
  }
}

.shape-container--47 {
  -webkit-animation: shape-47 44s linear infinite;
          animation: shape-47 44s linear infinite;
}

.shape-container--47 .random-shape:after {
  margin: 7rem;
  color: #FFF8DC;
  font-size: 1.4rem;
  content: "";
}

@-webkit-keyframes shape-48 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(339deg);
            transform: translate3d(0, 0, 0) rotate(339deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(699deg);
            transform: translate3d(0, 0, 0) rotate(699deg);
  }
}

@keyframes shape-48 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(339deg);
            transform: translate3d(0, 0, 0) rotate(339deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(699deg);
            transform: translate3d(0, 0, 0) rotate(699deg);
  }
}

.shape-container--48 {
  -webkit-animation: shape-48 46s linear infinite;
          animation: shape-48 46s linear infinite;
}

.shape-container--48 .random-shape:after {
  margin: 2rem;
  color: #DB7093;
  font-size: 0.4rem;
  content: "";
}

@-webkit-keyframes shape-49 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(85deg);
            transform: translate3d(0, 0, 0) rotate(85deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(445deg);
            transform: translate3d(0, 0, 0) rotate(445deg);
  }
}

@keyframes shape-49 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(85deg);
            transform: translate3d(0, 0, 0) rotate(85deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(445deg);
            transform: translate3d(0, 0, 0) rotate(445deg);
  }
}

.shape-container--49 {
  -webkit-animation: shape-49 49s linear infinite;
          animation: shape-49 49s linear infinite;
}

.shape-container--49 .random-shape:after {
  margin: 7rem;
  color: #FFF8DC;
  font-size: 1.4rem;
  content: "";
}

@-webkit-keyframes shape-50 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(311deg);
            transform: translate3d(0, 0, 0) rotate(311deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(671deg);
            transform: translate3d(0, 0, 0) rotate(671deg);
  }
}

@keyframes shape-50 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(311deg);
            transform: translate3d(0, 0, 0) rotate(311deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(671deg);
            transform: translate3d(0, 0, 0) rotate(671deg);
  }
}

.shape-container--50 {
  -webkit-animation: shape-50 48s linear infinite;
          animation: shape-50 48s linear infinite;
}

.shape-container--50 .random-shape:after {
  margin: 6rem;
  color: #DB7093;
  font-size: 1.2rem;
  content: "";
}

.stop-shape {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
